

h4{
   /*  margin-bottom: 20px !important; */
    justify-content: center;
}

.btn-buy{
    width: 170px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #F9F5E8;
    background-color:#E9724C ;
    padding: 7px;
}

/* d-flex justify-content-around align-items-center' */
.cartItem{
    width: 900px;
    background-color: #FFC857;
    color: #936a00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.totPrice{
    margin:20px;
    color: #333333;
    font-weight: bolder;
}
.btn-cart{
    width: 190px;
    margin: 5px;
}