@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@500&family=Mooli&family=Raleway:ital,wght@1,200&display=swap');

/*  font-family: 'Courgette', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Raleway', sans-serif; */

/* 
color : #D95204
color : #BC292D
*/


.header{
    height: 130px;
    width: auto/* 1355px */;
    margin-bottom: 5px;
    border-radius: 12px;
    box-shadow: 0 0px 7px #f25c0562; 
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

/* Nombre Ecommerce */
.name{
    height: 130px;
    width: 120px;
    font-size:35px;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    transition: 2s; 
    font-weight: 800;
    line-height: 7rem;
    background: radial-gradient(#BC292D,#F28705);
    text-align: center;
    margin-top: 18px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.n-left{
    color: #BC292D;
    margin: 0;
    padding: 0;
    text-transform:lowercase;
    font-family: 'Dosis', sans-serif;
    transition: 10ms;
}

.name:hover{
    color: #BC292D;
    transform: scale(1.1);
    letter-spacing: 5px;
    transition: 0.5s;
}

/* Cart */

.navbar-contain{
    color: #BC292D;
    display: inline-block;
    font-size: 27px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 0.5px #BC292D;
    line-height: 7rem;
}
.navbar-letter{
    text-decoration: none;
    color: #BC292D;
    margin: 10px;
    font-size: 20px;
    transition: 1s;
}

.navbar-letter:hover{
    color: #F2F2f2f2;
    padding: 7px;
    border-radius: 10px;
    background-color: #BC292D;
    font-size: 20px;
    transform: scale(1.2);
    transition: 0.2s;
}