@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@500&family=Mooli&family=Raleway:ital,wght@1,200&display=swap');

/*  font-family: 'Courgette', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Raleway', sans-serif; */


/* Colores

loader = #F28705
text = #F2B705

*/

.loader {
    width: 130px;
    height: 26px;
    background: #F28705;
    border-radius: 50px;
    --c:no-repeat radial-gradient(farthest-side,#000 92%,#0000);
    --s:18px 18px;
    -webkit-mask:
      var(--c) left  4px top 50%,
      var(--c) center,
      var(--c) right 4px top 50%,
      linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    animation: l1 1.5s infinite;
  }
  @keyframes l1 {
    0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
    16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
    33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
    50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
    66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
    83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
    100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  }

.container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-load{
  font-size: 30px;
  font-family: 'Mooli', sans-serif;
  font-weight: 900;
  color: #F2B705;
  margin-top: 35px;
  padding: 17px;
  margin-left: 24px;
}