@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@500&family=Mooli&family=Raleway:ital,wght@1,200&display=swap');

/*  font-family: 'Courgette', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  max-width: auto;
}

h1{
  background: radial-gradient(#F27405,#BC292D);
  font-size: 3rem;
  text-align: center;
  height: 70px;
  margin-top: 28px !important;
  font-family: 'Courgette', cursive;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



/* CSS Card Detail */
.card-detail{
  height: 520px;
  width: 320px;
  background: linear-gradient(to top, #F2D194, 85%, #D95204);
  border: 1px solid #BC292D ;
  border-radius: 28px;
}

.desc-text{
  color: #BC292D;
  font-family: 'Mooli', sans-serif;
  font-weight: bold;
  text-wrap: balance;
  display: block;
  padding: 20px;
  margin-top: 10px;
}

.imgProduct{
  height: 220px;
  width: 318px;
  border-radius: 28px 28px 0px 0px;
}