@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@500&family=Mooli&family=Raleway:ital,wght@1,200&display=swap');

/*  font-family: 'Courgette', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  height: 1500px;
  width: auto;
}

h1{
  background: radial-gradient(#F27405,#BC292D);
  font-size: 3rem;
  text-align: center;
  height: 70px;
  margin-top: 28px !important;
  font-family: 'Courgette', cursive;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

