@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Nunito&family=Raleway:ital,wght@1,200&family=Roboto+Mono:wght@300&display=swap');

/* font-family: 'Dosis', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* Generales */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F9F5E8 !important;
  max-width: auto;
}


h1{
  font-size:2.5em !important; 
  text-align: center;
  height: 70px;
  font-family: 'Roboto Mono', monospace;
  margin: 28px 0px 28px!important;
  color: #7b1000 !important;
  font-weight: 900 !important;
}



/* Header */

.header{
  height: 127px !important; 
  width: auto;
  font-size: 27px !important;
  background-color:#efebde !important;
  border-radius: 20px;
  margin-block:initial ;
  padding: 20px;
}

.name{
  text-decoration:none !important ;
  text-align: center;
  color:#E9724C;
  padding: 10px;
}

.user{
    font-size: 140px;
    color:#936a00 ;
    font-weight: 500;
    
}

.navbar-active{
  color: #936a00;
  background-color: #FFC857;
  padding: 10px;
  border-radius: 10%;;
  margin: 15px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
}

.navbar-letter{
  text-decoration: none;
  margin: 10px;
  font-size: 27px;
  color: #F28705;
  transition: 1s;
}

.navbar-letter:hover{
  color: #5c5c5c;
  text-wrap: balance;
  padding: 7px;
  font-size: 27px;
  transform: scale(1.2);
  transition: 0.2s;
}

/* CSS Card Detail */
.card-detail{
  height: 520px;
  width: 320px;
  background: linear-gradient(to top, #F2D194, 85%, #D95204);
  border: 1px solid #BC292D ;
  border-radius: 28px;
}

.desc-text{
  color: #BC292D;
  font-family: 'Mooli', sans-serif;
  font-weight: bold;
  text-wrap: balance;
  display: block;
  padding: 20px;
  margin-top: 10px;
}

.imgProduct{
  height: 220px;
  width: 318px;
  border-radius: 28px 28px 0px 0px;
}


/* Page Not Found */
.not-page{
  display: grid;
}





.found-Img{
  justify-content: center;;
  border: #BC292D solid 1px;
}

